<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @company.email %>
</p>
<div class="well">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <%= form_with model: [ @company, @offer ], local: true do |form| %>

                        <%= form.label  "Ingrese nombre de oferta laboral"%>
                        <%= form.text_field :name %>

                        <%= form.label "Ingresa el detalle de la oferta"%>
                        <%= form.text_field :detail %>

                        <%= form.submit "Agregar"  %>

                    <% end %>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<% @company.offers.each do |offer| %>
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Nombre de la oferta</th>
							<th>Detalle</th>
							<th>Postulantes</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><%= link_to offer.name, [@company, offer] %></td>
							<td><%= offer.detail %> </td>
              <td><%= offer.users.count %></td>
              <td><%= link_to 'Borrar',company_offer_path(@company, offer), class: 'btn btn-danger', method: :delete%></td>
						</tr>
					</tbody>
				</table>


				<% end %>
			</div>
		</div>
  </div>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
